@using E_Ticaret_Süt_Ürünleri.Entity;

@model  Urun
@{
    ViewBag.Title = "Detay";
}
<div class="container ">
    <div class="row">
        <div class="col-md-6">

            <img src="/Upload/@Model.Resim" class="img-fluid rounded w-100">
        </div>
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-12">
                    <h1>@Model.Isim</h1>
                </div>
            </div>
            <div class="row ">
                <div class="col-md-12">
                    @if (Model.Aktif)
                    {
                        <span class="badge badge-primary">Stokta</span>
                    }
                    else
                    {
                        <span class="badge badge-danger">Stokta Yok</span>
                    }

                    <span class="product-number">#2342812</span>
                </div>
            </div>

            <div class="row mt-1">
                <div class="col-md-12">
                    <div id="description">
                        @Model.Aciklama
                    </div>

                </div>

            </div>
            <div class="row mt-1">
                <div class="col-md-4">
                    <span class="bagde badge-success">53 Görüntüleme</span>
                </div>
                <div id="urunyorum" class="col-md-4">
                    <a href="#"> Yorum Yazınız..</a>
                </div>

            </div>
            <div class="row mt-1">
                <div class="col-md-12">
                    <h4 id="urunfiyat">₺ @Model.Fiyat</h4>

                </div>
            </div>

            <div class="row mt-1">
                <div class="col-md-12">
                    <button class="btn btn-success">Sepete Ekle</button>

                </div>
            </div>



        </div>

    </div>
    <div class="row mt-3">
        <div class="col-md-12">

            <div class="bd-example bd-example-tabs">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="false">Hakkında</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="false"> </a>
                    </li>
                   
                </ul>
               
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade" id="home" role="tabpanel" aria-labelledby="home-tab">
                        <p>Türk toplumu onu çok eski devirlerden beri besleyici ve sağlığını koruyucu bir yiyecek olarak tanımış, çeşitlerini yapmış, hastalarını ve sindirim bozukluğu çekenleri onunla beslemiş; bazen sulandırıp ayran haline getirerek ferahlatıcı bir yapmış; bazen torbalarda süzmüş, tuzlamış ve peynir gibi kahvaltıda kullanmış; bazen de suyunu bir hayli azaltarak, kışın bile ihtiyaçlarını karşılayacak elde hazır dayanıklı bir yoğurt özü haline getirmiş ve uzun kış devresinde protein ihtiyacının önemli kısmını, %65 gibi çok yüksek oranlarda protein ihtiva eden, bu değerli besinden sağlamaya çalışmıştır.</p>
                    </div>
                  
                   
                </div>
            </div>
        </div>


    </div>
</div>

