@using E_Ticaret_Süt_Ürünleri.Models;

@model IEnumerable<ProductModel>
@{
    ViewBag.Title = "Liste";
}


<div class="container pb-5">
    <div class="row">
        <div class="col-md-3">
            <div class="list-group">
              @Html.Action("GetCategories","Home")
            </div>
        </div>
        <div class="col-md-9">
            @if (Model.Count() == 0)
            {
                <div class="alert alert-success" role="alert">
                 ! Bu Katagoride Bir Ürün Bulunamadı.
                </div>
            }
            else
            {
                <div class="alert alert-success" role="alert">
                    <strong> ✔ @Model.Count() Adet </strong> Ürün Bulundu.
                </div>
            }
            @Html.Partial("_UrunListesi", Model)
        </div>

    </div>
</div>
